.projects-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 40px; */
  /* background: linear-gradient(135deg, #333, #555);  */
  margin-top: 120px !important;
  margin-bottom: 20px !important;
}

.projects-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  /* text-align: center; */
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 10px;
  /* max-width: 900px; */
}

.project-card {
  background-color: #3b4044 ;
  padding: 15px;
  width: 260px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  color: #e2e6e7;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
 /* Bright orange for the heading */
  font-weight: 700;
}

@media (max-width: 768px) {
  .projects-list {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .projects-title {
    font-size: 1.5rem;
  }

  .project-card {
    width: 100%;
  }
}
